.block {
    height: 10vh;
    width: 10vh;
    background: #fff3;
    box-shadow: 0 0 0.2rem #0003;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    position: relative;
    transform: perspective(500px) rotateY(0deg);
    transition: all 0.2s; 
    cursor: pointer; 
}

.flipped{
    box-shadow: 0 0 0.5rem #0005;   
    background: #0ff6; 
    transform: perspective(500px) rotateY(180deg);
}

.used {
    cursor: default;
    box-shadow: none;
    background: #fff0;
}